@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


$font-family:'Roboto', sans-serif;
$font-color: #424242;
$gradient:linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
$error-color:#eb1717;
$background:#E5E5E5;
$background-white:#ffffff;